<%- include ('./partials/head.ejs') %>

<main>
    <div class="container">
        <h1 class="display-4">shoal</h1>
        <h2>with so many fish in the sea,</h2>
        <h2>which one is right for me?</h2>
        <p class="lead">shoal is how you do dating so you can make the right decisions</p>
        <hr class="my-4">
    
    </div> 

    <div class="container">
        <div class="row row-cols-1 row-cols-lg-4">
            <div class="col">
                <h2>Add dating profiles</h2>
                <p>Add profiles of the people you're dating so you'll never worry about forgetting that tv series they're loving watching right now.</p>
            </div>
            <div class="col">
                <h2>Reflect on your dates</h2>
                <p>Have the opportunity to properly reflect after dates by writing down your thoughts. Did we seem compatible? Any green flags or red flags?</p>
            </div>
            <div class="col">
                <h2>Move profiles to the past</h2>
                <p>Not feeling the vibe? They talked about crypto for way too long? Move a profile to the past if you're not interested in seeing them again.</p>
            </div>
            <div class="col">
                <h2>Notice trends and get insights</h2>
                <p>Got lots of nibbles but no good catches? See patterns and trends in who you're dating and get data-based insights on your dates.</p>
            </div>
        </div>
        <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Get started</a>
      </div>
      
    
    <img src="https://res.cloudinary.com/dshrcrozq/image/upload/v1657698807/DrawKit-daily-life-vector-illustration-01_qnornl.png" class="img-fluid" alt="woman with laptop">
    

    

</main>

<%- include ('./partials/footer.ejs') %>