<%- include ('../partials/head.ejs') %>

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
            <h2>Profiles</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, modi nobis! Tenetur quis nulla fugit cumque labore reiciendis nostrum laborum vel temporibus nobis? Eum optio cumque beatae, delectus est quasi.</p>
        </div>
        <div class="col">
            <h2>Dates</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum omnis dolores molestiae ad modi, nobis qui exercitationem, similique tenetur voluptates voluptatibus eligendi, porro ratione perferendis maxime commodi est ullam sint.</p>
        </div>
    </div>
  </div>

<%- include ('../partials/footer.ejs') %>