<%- include ('../partials/head.ejs') %>
<div class="container">
  <h1>Log In</h1>
  <form action="<%= baseUrl %>/login" method="post">
    <div class="form-group mb-3">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" required />
    </div>
    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" required />
    </div>
    <div class=mb-2>
      <input type="submit" class="btn btn-primary" value="Login" />
    </div>
  </form>

  <p>
    Don't have an account yet?
    <a href="/users/signup">Sign up here</a>
  </p>
</div>

<%- include ('../partials/footer.ejs') %>